.Container_project{
    width: 100%;
    height: 100%;
    text-align: center;
    .Header_p{
       position: absolute;
       left:0;
       top:20%;
       transform: rotate(-90deg);
       font-size: 30px;
       text-transform: uppercase;
    }
    .Card{
        display: inline-block;
        width: 250px;
        height: 275px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        position: relative;
        margin: 10px 15px;
       img{
        width: 250px;
        height: 270px;
        z-index: -2;
        border: 5px solid #0084ff;
        border-radius: 10px;
       }
       .Centered{
         color: #fff;
         display: none;
         width: 100%;
         height: 100%;
         background-color: rgb(0, 0, 0 ,0.7);
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         border-radius: 10px;
         border: 5px solid #fff;
         h2{
            margin-top:10%;
            font-size: 18px;
            background-color: rgb(0, 0, 0 ,0.3);
         }
         p{
            font-size: 16px;
            padding: 0 25px;
            text-align: left;
            background-color: rgb(0, 0, 0 ,0.3);
         }
         .atr{
            text-align: center;
            background-color: rgb(0, 0, 0 ,0.3);
            font-weight: 1000;
         }
       }
    }
    .Card:hover{
        .Centered{
            display: block;
        }
    }
}

a.Card{
    &::after{
      content: "";
    }
  }

  @media only screen and (max-width: 1024px) {
   
  }
 
  @media only screen and (max-width: 768px) {
   
  }
 
  @media only screen and (max-width: 425px) {
   
  }
 
  @media only screen and (max-width: 375px) {
   
  }