.nav-bar{
    background-color: #363535;
    width: 50px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    min-height: 500px;
    .Logo{
        .Logo-img{
          width: 30px;
          height: 35px;
          padding-top:10px;
          padding-left:10px;
        }
        .Sub-logo{
          width: 50px;
          height: 20px;
        }
    }
    .Links_box{
        width: 100%;
        height: 100px;
        margin-top: 25vh;
        text-align: center;
    }
    .SLinks{
       width: 100%;
       height: 50px;
       margin-top: 25vh;
       text-align: center;
          a{
            font-size: 20px;
            padding-top: 2px;
            display: block;
            position: relative;
             :hover{
               color: #6d1904;
             }
          }
      
    }
    
}

a {
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  text-decoration: none;

    i{transition: all 0.2s ease-out;}

    &:hover{
      color: #fff;

    svg{
      opacity: 0;
    }

    &::after{
      opacity: 1;
    }
}

    &::after{
      content: "";
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 1000;
      position: absolute;
      top: 10px;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.2s ease-out;
    }

      &:first-child{
        &::after{
          content: "HOME";
        }
      }
      
    }
  
    a.Project{
      &::after{
        content: "PROJECT";
      }
    }

    a.About{
      &::after{
        content: "ABOUT ME";
        top:0;
      }
    }

    a.Contact{
      &::after{
        content: "CONTACT";
        font-size: 8px;
      }
    }

    a.Linked{
      &::after{
        content: "Linked";
      }
    }

    a.Github{
      &::after{
        content: "Github";
      }
    }

    a.Facebook{
      &::after{
        content: "Facebook";
        font-size: 8px;
      }
    }

    a.Logo{
      &::after{
        content: "";
      }
    }