.nav-bar{
    background-color: #04206d;
    width: 50px;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    .Logo{
        .Logo-img{
          width: 50px;
          height: 30px;
          padding-top: 5px;
        }
        .Sub-logo{
          height: 25px;
        }
    }

}

