
.LogoIMG{
  height: 50px;
}

#link-nav{
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
}

#link-nav:hover{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}



