
html{
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #022c43;
  overflow: hidden;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

