.Container{
    width: 100%;
    height: 100%;
     .Content_left{
        display:block;
        float: left;
        width: 50%;
        .Heading{
          font-size: 28px;
          padding: 25%;
          
        }
        .Buttom{
          position: absolute;
          top:65%;
          left: 12%;
          background-color: #037597;
          color: #fff;
          text-align: center;
          font-size: 14px;
          padding: 12px 45px;
          border-radius: 5px;

        }
     }
     .Content_right{
        display: block;
        float: right;
        width: 50%;
     }

}



