
.carousel{
    height: 550px;
    position: relative;
    z-index: -99;
    background-color: #000;
}

.carousel-item img{
    height: 550px;
    opacity: 0.5;
    
}

.carousel-caption{
    position: absolute;
    top: 35%;
}